body {
    padding: 0;
    margin: 0;
    background-color: rgb(39, 46, 71);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1 {
    font-size: 80px;    
    color: white;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.box {
    height: 150px;
    width: 150px;
    border: 10px solid black;
    border-radius: 40px;
    cursor: pointer;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.userclick {
    box-shadow: 0px 0px 20px white;
    background-color: grey;
}
.wrong {
    background-color: red;
}

.results {
    display: block;
    margin-top: 60px;
    width: 30%;
    max-width: fit-content;
    padding: 30px;
    text-align: left;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 10px rgb(59, 71, 116);
}
.results-display {
    display: none;
}
.results h2 {
    margin: 0px;
    padding: 0px;
}

.instructions {
    color: white;
    margin: 60px 0px 60px 0;
}
.instructions h2 {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 40px;
    color: green;
}
h3 {
    font-size: 21px;
    color: rgb(0, 202, 0);
}
.instructions h3, .instructions p {
    margin-left: 100px;
}
